@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    background-color: black;
    background:url('./images/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    height: 100%;
}
.App{
    height: 100%;
}
.welcome{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.HeadingDev h1{
    vertical-align: baseline;
    display: inline;
    position: relative;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    color: white;

}

.waveHand img{
    animation: hello 2.4s;
    animation-iteration-count: 5;
    width: 100px;
    height: 100px;
}

.scrollDown{
    opacity: .2;
    display: flex;
    justify-content: space-around;
}
.MyMoji img{
    width: 200px;
    height: 300px;
    animation: hello1 2s infinite;
}
@keyframes hello1{
    0%{transform: rotate(0);}
    50%{transform:rotate(-1deg);}       
    100%{transform: rotate(0deg);}
}

@keyframes hello {
    0%{
        transform: rotate(0);
        
    }
    50%{
        transform: rotate(50deg);

    }
    100%{
        transform: rotate(0deg);
    }
}

.LoaderFirst{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    opacity: 0;
    transform: translate(0,-100%);
    background-color: transparent;
    background: rgba(0,0,0,0.95);
    backdrop-filter: 100px;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 9;
    transition: .3s ease-in;
    border-radius:  1px;
}

.nav.active{
    opacity: 1;
    transform: translate(0%);
    transition: .3s ease-in;
    
}
ul{
    margin: 0;
    padding: 20px;
}
ul li{
    list-style-type: none;
    padding: 20px 20px;
}
ul li a{
    text-decoration: none;
    margin-top: 1rem;
    color: white;
    font-weight: 500;
    font-size: 3rem;
    padding: 20px 20px;
    font-family: "Poppins";
}
#menutoggle{
    position: absolute;
    top: 10px;
    right: 45%;
    width: 10rem;
    z-index: 10;
    transition: .3s ease-in;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
